<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
</head>
<body>
<h1>Agents</h1>

<section id="agents">
{% for uuid, agent in c2.agents.items() %}
    <div class="agent-card">
        <h3>Agent</h3>
        <span>{{ agent.uuid }}</span>
        <br>
        <span>{{ agent.address }}</span>
        <br>
        <span>{{ agent.os }}</span>
        <form method="POST" action="{{ url_for("kill_agent", uuid=uuid) }}">
            <input type="submit" value="Kill">
        </form>
        <form method="POST" action="{{ url_for("processes", uuid=uuid) }}">
            <input type="text" name="command" value="/bin/bash -i">
            <input type="submit" value="Shell">
        </form>
        <form method="GET" action="{{ url_for("download_file", uuid=uuid) }}">
            <input type="text" name="file" value="/etc/passwd">
            <input type="submit" value="Download">
        </form>
    </div>
{% endfor %}
</section>
</body>
</html>