<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Process</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/xterm.css") }}">
    <script src="{{ url_for("static", filename="js/xterm.js") }}"></script>
    <script src="{{ url_for("static", filename="js/addon-attach.js") }}"></script>
    <script>
        let agent = "{{ agent }}";
        let pid = {{ pid }};
    </script>
    <style>
        h1, h2 {
            color: green;
            text-align: center;
            font-family: sans-serif;
        }
        html {
            background: black;
        }
        #terminal {
            padding: 1rem;
            width: 720px;
            height: 384px;
            margin-top: 3rem;
            margin-left: auto;
            margin-right: auto;
            border: solid green;
        }
    </style>
</head>
<body>
<h1>BatteC2</h1>
<h2>{{ command }} ({{ pid }})</h2>
<div id="terminal"></div>
<script>
    const term = new Terminal({convertEol: true, stdin: false});
    const socket = new WebSocket(`/agent/${agent}/process/${pid}/socket`);
    const attachAddon = new AttachAddon.AttachAddon(socket);
    term.open(document.getElementById('terminal'));
    term.loadAddon(attachAddon);
</script>

</body>
</html>