<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Process</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/xterm.css") }}">
    <script src="{{ url_for("static", filename="js/xterm.js") }}"></script>
    <script src="{{ url_for("static", filename="js/addon-attach.js") }}"></script>
    <script>
        let agent = "{{ agent }}";
        let pid = {{ pid }};
    </script>
</head>
<body>
<div id="terminal"></div>
<input type="text" id="cmd">
<button onclick="sendCommand()">Execute</button>
<script>
    const term = new Terminal({convertEol: true, stdin: false});
    const socket = new WebSocket(`/agent/${agent}/process/${pid}/socket`);
    const attachAddon = new AttachAddon.AttachAddon(socket);
    term.open(document.getElementById('terminal'));
    term.loadAddon(attachAddon);
</script>

</body>
</html>